@model IEnumerable<DoAnASP.Areas.Admin.Models.Blog>



@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<div class="wrap">
   
    <div class="main">

        <div class="content">
            <p>
                <a asp-action="Create">Thêm Một Blogs Mới</a>
            @*@ViewBag.UerName
                @ViewBag.IDName*@
            </p>
            @foreach (var item in Model)
            {
                @if (item.TrangThai == 2)
                {

                    <div class="box1">
                        <div>
                            <h2>@item.TieuDe</h2>
                            <a asp-action="Details" asp-route-id="@item.IDBlog"><img src="~/blog/@item.HinhAnh" width="100" hight="100px"></a>
                            <h5>
                                @item.TomTat
                            </h5>
                        </div>
                        <div class="data">

                            @foreach (var item1 in ViewBag.TaiKhoan)
                            {
                                @if (item.IDNguoiTao == item1.IDTK)
                                {
                                    <h5>Tài khoản: @item1.Ten</h5>
                                }

                            } 
                             
                            @if (item.IDNguoiTao.ToString() == ViewBag.IDName)
                            {<span><a asp-action="Edit" asp-route-id="@item.IDBlog"> sua Bai viet </a></span>
                            }
                            <span><a asp-action="Details" asp-route-id="@item.IDBlog">Continue reading &gt;&gt;&gt; </a></span>
                            <span style="float:right">View: @item.View</span>
                            
                        </div>


                    </div>
                }
            }

        </div>
        <div class="page_links">
            
            
                


            <div class="sidebar">
                <div class="sidebar_top">
                    <h3>Blog Categories</h3>
                    <div class="sidebar_top_list">
                        @foreach (var item in ViewBag.Loai)
                        {
                            <ul>
                                <li><a asp-action="Index" asp-controller="Loais"><span class="category-name">@item.TieuDe</span> <div class="clear"></div></a></li>

                            </ul> }
                        </div>
                </div>


                <div class="clear"></div>
            </div>
           
            <div class="clear"></div>
            <div class="page_bottom">
                <p>Back To : <a href="#">Top</a> |  <a href="#">Home</a></p>
            </div>
        </div>
       
            
        </div>
   
</div>
